
// Partials
@import './partials/resets';
@import './partials/vars';
@import './partials/mixins';
@import './partials/fonts';

// Demos
@import './components/scroller-demo';


.default-base {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  font-size: 2vw;

  a {
    font-weight: 900;
    text-decoration: underline;
  }
}

.default-base ul {
  padding-top: 50px;
}