
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<title>Fil Studio Examples · {{ title }}</title>
	<meta name="Description" content="">

	{# <meta name="robots" content="noindex,nofollow">
	<meta name="google" content="nositelinkssearchbox"> #}
	<meta name="google" content="notranslate">

	<meta property="og:url" content="{{ '/' | url }}">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ title }}">
	{# {% if featuredImage %}<meta property="og:image" content="{% imageUrlFor featuredImage, 600 %}" />{% endif %} #}
	<meta property="og:description" content="" />
	{# <meta property="og:site_name" content="{{ settings.seo.title }}"> #}
	<meta property="og:locale" content="en_US">

	{# <link rel="apple-touch-icon" sizes="180x180" href="{{ '/' | url }}assets/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ '/' | url }}assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ '/' | url }}assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="{{ '/' | url }}assets/favicon/site.webmanifest">
	<link rel="shortcut icon" href="{{ '/' | url }}assets/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-config" content="{{ '/' | url }}assets/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff"> #}

	<link rel="stylesheet" href="{{ '/' | url }}css/main.css"/>
</head>
