---
layout: nomad-base
templateClass: nomad
pagination:
  alias: p
  data: nomadPages
  size: 1
permalink: "/{{ lang }}/{{ p.slug | slug }}/"
eleventyComputed:
  title: "{{ p.title }}"
  description: "{{ p.description }}"
  image: "{{ p.image }}"
---
{% include "nomad-pages.njk" %}