/* cyrillic-ext */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjXr8AIxsdP3pBmtF8A.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjXr8AIVsdP3pBmtF8A.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjXr8AIJsdP3pBmtF8A.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjXr8AI5sdP3pBmtF8A.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjXr8AI9sdP3pBmtF8A.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjXr8AIFsdP3pBms.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYXgKVElMYYaJe8bpLHnCwDKhdzeFaxOedfTDw.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYXgKVElMYYaJe8bpLHnCwDKhdXeFaxOedfTDw.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYXgKVElMYYaJe8bpLHnCwDKhdLeFaxOedfTDw.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYXgKVElMYYaJe8bpLHnCwDKhd7eFaxOedfTDw.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYXgKVElMYYaJe8bpLHnCwDKhd_eFaxOedfTDw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYXgKVElMYYaJe8bpLHnCwDKhdHeFaxOedc.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIxsdP3pBmtF8A.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIVsdP3pBmtF8A.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIJsdP3pBmtF8A.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjWr7AI5sdP3pBmtF8A.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjWr7AI9sdP3pBmtF8A.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIFsdP3pBms.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
._ui-wrapper,
._ui-panel {
  --radius-0: 4px;
  --radius-1: 8px;
  --padding-0: 8px 6px;
  --padding-1: 10px 8px;
  --button-padding: 8px 12px;
  --spacer: 3px;
  --duration: .3s;
  --timing: cubic-bezier(.6, 0, .4, 1);
  --accent: #2871C7;
  --bg-0: #303030;
  --bg-1: #191919;
  --white: #FFF;
  --color-0: #CCCCCC;
  --color-1: #999999;
  --color-2: #666666;
}
._ui-wrapper,
._ui-wrapper *,
._ui-panel,
._ui-panel * {
  box-sizing: border-box;
}
._ui-wrapper fieldset,
._ui-panel fieldset {
  min-inline-size: unset;
}
._ui-wrapper small,
._ui-wrapper input,
._ui-wrapper textarea,
._ui-wrapper select,
._ui-wrapper button,
._ui-panel small,
._ui-panel input,
._ui-panel textarea,
._ui-panel select,
._ui-panel button {
  padding: 0;
  margin: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
  font: inherit;
  text-align: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
}
._ui-wrapper h1,
._ui-wrapper h2,
._ui-wrapper h3,
._ui-wrapper h4,
._ui-wrapper h5,
._ui-wrapper h6,
._ui-wrapper small,
._ui-wrapper p,
._ui-wrapper a,
._ui-panel h1,
._ui-panel h2,
._ui-panel h3,
._ui-panel h4,
._ui-panel h5,
._ui-panel h6,
._ui-panel small,
._ui-panel p,
._ui-panel a {
  margin: 0;
  font: inherit;
}
._ui-wrapper input[type=number]::-webkit-inner-spin-button,
._ui-wrapper input[type=number]::-webkit-outer-spin-button,
._ui-panel input[type=number]::-webkit-inner-spin-button,
._ui-panel input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
._ui-wrapper, ._ui-wrapper *,
._ui-panel,
._ui-panel * {
  font-family: "IBM Plex Sans", sans-serif;
}
._ui-wrapper header,
._ui-panel header {
  font-size: 12px;
  color: var(--color-1);
  font-weight: 700;
}
._ui-wrapper [ui-depth="0"] > header,
._ui-panel [ui-depth="0"] > header {
  color: var(--color-0);
}
._ui-wrapper fieldset,
._ui-panel fieldset {
  font-size: 12px;
  color: var(--color-1);
  font-weight: 400;
}
._ui-wrapper fieldset h4,
._ui-panel fieldset h4 {
  color: var(--color-2);
}
._ui-wrapper._ui-panel-dropdown,
._ui-panel._ui-panel-dropdown {
  font-size: 12px;
  color: var(--color-1);
  font-weight: 400;
}
._ui-wrapper *::selection,
._ui-panel *::selection {
  background: var(--white);
  color: var(--accent);
}
._ui-wrapper ._ui--hidden,
._ui-panel ._ui--hidden {
  display: none !important;
  pointer-events: none;
}

._ui-wrapper {
  --wrapper-width: 300px;
  position: fixed;
  top: 5px;
  right: 5px;
  width: var(--wrapper-width);
  min-width: 300px;
}
._ui-wrapper._ui-wrapper-embed {
  position: relative;
  top: unset;
  right: unset;
  width: 100%;
}
._ui-wrapper ._ui-wrapper-resizer {
  position: absolute;
  width: 4px;
  height: calc(100% - 4px);
  top: 4px;
  left: 0;
  cursor: ew-resize;
  z-index: 1;
}
._ui-wrapper section {
  --section-bg-0: var(--bg-1);
  --section-bg-1: var(--bg-0);
  position: relative;
  width: 100%;
  height: auto;
  border-radius: var(--radius-1);
  background-color: var(--section-bg-0);
}
._ui-wrapper section[ui-depth="0"], ._ui-wrapper section[ui-depth="2"], ._ui-wrapper section[ui-depth="4"], ._ui-wrapper section[ui-depth="6"], ._ui-wrapper section[ui-depth="8"], ._ui-wrapper section[ui-depth="10"] {
  --section-bg-0: var(--bg-0);
  --section-bg-1: var(--bg-1);
}
._ui-wrapper section [ui-depth="12"] {
  --section-bg-0: red;
  --section-bg-1: green;
}
._ui-wrapper section:not([ui-depth="0"]) {
  margin-top: var(--spacer);
}
._ui-wrapper section ._ui-section-content {
  padding: 0 var(--spacer) var(--spacer) var(--spacer);
  position: relative;
  float: left;
  width: 100%;
}
._ui-wrapper section ._ui-section-content fieldset:first-of-type {
  margin-top: 8px;
}
._ui-wrapper section ._ui-section-content fieldset:last-child {
  margin-bottom: 8px;
}
._ui-wrapper ._ui-section-foldable {
  transition-duration: var(--duration);
  transition-timing-function: var(--timing);
  overflow: hidden;
}
._ui-wrapper ._ui-section-foldable > header {
  cursor: pointer;
}
._ui-wrapper ._ui-section-foldable ._ui-section-foldable-element {
  overflow: hidden;
  transition-duration: inherit;
  transition-timing-function: inherit;
  transition-property: height;
}
._ui-wrapper ._ui-section-foldable ._ui-section-foldable-element ._ui-section-header-icon {
  transform: rotate(0deg);
  width: 20px;
  transform-origin: 50%;
  transition: transform var(--duration) var(--timing);
}
._ui-wrapper ._ui-section-foldable._ui-section-folded > ._ui-section-foldable-element {
  height: 0px !important;
}
._ui-wrapper ._ui-section-foldable._ui-section-folded:not([ui-depth="0"]) > header ._ui-section-header-icon {
  transform: rotate(-90deg);
}
._ui-wrapper header {
  position: relative;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: var(--padding-1);
  user-select: none;
}
._ui-wrapper header ._ui-section-header-icon {
  width: auto;
  max-width: 20px;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
._ui-wrapper header h3 {
  margin: 0;
}
._ui-wrapper fieldset {
  padding: 0 8px;
  min-height: 30px;
  margin: var(--spacer) 0 0 0;
  position: relative;
  width: 100%;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
._ui-wrapper fieldset h4 {
  width: 33.33%;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 5px;
  flex-grow: 0;
  flex-shrink: 0;
}
._ui-wrapper fieldset > div {
  width: 66.66%;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  flex-shrink: 0;
  position: relative;
  float: left;
}
._ui-wrapper fieldset._ui-row-vertical {
  flex-direction: column;
  align-items: flex-start;
}
._ui-wrapper fieldset._ui-row-vertical > h4 {
  margin-bottom: 8px;
}
._ui-wrapper fieldset._ui-row-vertical > div {
  width: 100%;
}
._ui-wrapper ._ui-button {
  --animation-space: 1px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--button-padding);
  background-color: var(--section-bg-1);
  border-radius: var(--radius-0);
  cursor: pointer;
  transition: var(--duration) var(--timing);
  transform: translate3d(0, calc(-1 * var(--animation-space)), 0);
  margin-top: var(--animation-space);
}
._ui-wrapper ._ui-button:active {
  background-color: var(--accent);
  transform: translate3d(0, var(--animation-space), 0);
  color: var(--white);
  transition: 0s;
}
._ui-wrapper ._ui-button h3 {
  text-overflow: ellipsis;
  overflow: hidden;
}
._ui-wrapper ._ui-button-has-icon {
  justify-content: space-between;
}
._ui-wrapper ._ui-button-has-icon ._ui-button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
._ui-wrapper ._ui-button-has-icon ._ui-button-icon svg {
  width: 20px;
}
._ui-wrapper ._ui-spacer {
  width: 100%;
  display: block;
  margin-bottom: calc(-1 * var(--spacer));
}
._ui-wrapper ._ui-spacer._ui-spacer-small {
  padding: 10px 0;
}
._ui-wrapper ._ui-spacer._ui-spacer-medium {
  padding: 15px 0;
}
._ui-wrapper ._ui-spacer._ui-spacer-large {
  padding: 20px 0;
}
._ui-wrapper ._ui-spacer._ui-spacer-has-line:before {
  content: "";
  display: block;
  width: calc(100% - 16px);
  margin: 0 auto;
  height: 1px;
  background: var(--section-bg-1);
}
._ui-wrapper ._ui-boolean {
  cursor: pointer;
}
._ui-wrapper ._ui-boolean ._ui-toggle {
  width: 40px;
  height: 25px;
  border-radius: 15px;
  background-color: var(--section-bg-1);
  position: relative;
  transition: var(--duration) var(--timing);
}
._ui-wrapper ._ui-boolean ._ui-toggle div {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: var(--white);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate3d(0%, -50%, 0);
  transition: inherit;
}
._ui-wrapper ._ui-boolean._ui--active ._ui-toggle {
  background-color: var(--accent);
}
._ui-wrapper ._ui-boolean._ui--active ._ui-toggle div {
  left: 100%;
  transform: translate3d(-100%, -50%, 0);
}
._ui-wrapper ._ui-string input {
  width: 100%;
  padding: var(--padding-0);
  text-align: left;
  background-color: var(--section-bg-1);
  border-radius: var(--radius-0);
}
._ui-wrapper ._ui-number ._ui-number-input {
  flex-grow: 1;
  position: relative;
  float: left;
}
._ui-wrapper ._ui-number ._ui-number-input:not(:last-of-type) {
  margin: 0 var(--spacer) 0 0;
}
._ui-wrapper ._ui-number input {
  width: 100%;
  padding: var(--padding-0);
  text-align: left;
  background-color: var(--section-bg-1);
  border-radius: var(--radius-0);
}
._ui-wrapper ._ui-number ._ui-number-buttons {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
._ui-wrapper ._ui-number ._ui-number-buttons button {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50%;
  width: 20px;
  cursor: pointer;
}
._ui-wrapper ._ui-number ._ui-number-buttons button:active {
  color: var(--white);
  transition: 0s;
}
._ui-wrapper ._ui-number ._ui-number-buttons svg {
  width: 20px;
}
._ui-wrapper ._ui-number ._ui-number-buttons ._ui-number-btn-increase svg {
  transform: rotate(180deg);
  transform-origin: center;
}
._ui-wrapper ._ui-range ._ui-range-input {
  position: relative;
  float: left;
  width: calc(75% - 12px);
  cursor: pointer;
  margin: 0 12px 0 0;
}
._ui-wrapper ._ui-range ._ui-range-input * {
  pointer-events: none;
}
._ui-wrapper ._ui-range ._ui-range-track, ._ui-wrapper ._ui-range ._ui-range-overexpose {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  background-color: var(--color-0);
  width: 100%;
}
._ui-wrapper ._ui-range ._ui-range-overexpose {
  background-color: var(--color-2);
  transform: translate(0, -50%);
  left: unset;
  width: calc(var(--size) * 100%);
}
._ui-wrapper ._ui-range ._ui-range-overexpose._ui-range-overexpose-min {
  left: 0;
}
._ui-wrapper ._ui-range ._ui-range-overexpose._ui-range-overexpose-max {
  right: 0;
}
._ui-wrapper ._ui-range ._ui-range-thumb {
  position: absolute;
  top: 50%;
  left: calc(var(--value) * 100%);
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--white);
  cursor: grab;
  pointer-events: all;
  transition: background-color var(--duration) var(--timing);
}
._ui-wrapper ._ui-range ._ui-range-thumb._ui--grab {
  background-color: rgba(var(--white), 0.2);
}
._ui-wrapper ._ui-range ._ui-range-thumb::after, ._ui-wrapper ._ui-range ._ui-range-thumb::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 2px;
  background-color: var(--white);
  left: 50%;
  transform: translate(-50%, 0);
}
._ui-wrapper ._ui-range ._ui-range-thumb::after {
  top: 0;
}
._ui-wrapper ._ui-range ._ui-range-thumb::before {
  bottom: 0;
}
._ui-wrapper ._ui-range input {
  width: calc(25% - var(--spacer));
  padding: var(--padding-0);
  text-align: left;
  background-color: var(--section-bg-1);
  border-radius: var(--radius-0);
}
._ui-wrapper ._ui-select {
  position: relative;
  float: left;
}
._ui-wrapper ._ui-select ._ui-select-input {
  width: 100%;
  padding: var(--padding-0);
  text-align: left;
  background-color: var(--section-bg-1);
  border-radius: var(--radius-0);
  cursor: pointer;
}
._ui-wrapper ._ui-select ._ui-select-input * {
  pointer-events: none;
}
._ui-wrapper ._ui-select ._ui-select-input svg {
  width: 20px;
  position: absolute;
  right: 11px;
  top: 50%;
  transition: all var(--duration) var(--timing);
  transform: translateY(-50%) rotate(0deg);
}
._ui-wrapper ._ui-select._ui-select-open ._ui-select-input svg {
  color: var(--white);
  transform: translateY(-50%) rotate(90deg);
}

._ui-panel {
  position: fixed;
  height: auto;
  background-color: var(--section-bg-1);
  color: var(--color-1);
  z-index: 2;
  border-radius: var(--radius-0);
}
._ui-panel._ui-panel-dropdown {
  transform: translateY(var(--spacer));
  max-height: 300px;
  overflow-y: auto;
}

._ui-panel-select p {
  padding: var(--padding-0);
  text-align: left;
  background-color: var(--section-bg-1);
  border-radius: var(--radius-0);
  cursor: pointer;
}
._ui-panel-select p:hover {
  background-color: var(--accent);
  color: var(--white);
}

/*# sourceMappingURL=bundle.css.map */
