.nomad-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 1;
	padding: 0 50px;

	a {
		padding: 20px 0;
		font-size: 1.5vw;
		flex-grow: 0;
		flex-shrink: 0;

		&:hover {
			text-decoration: underline;
		}

		&.nomad__active-link {
			font-weight: 900;
		}
	}
}

[template="nomad"] {
	display: flex;
	justify-content: center;
	padding: 10vw;

	.wrapper {
		max-width: 1100px;
	}

	h2 {
		font-size: 3vw;
		font-weight: 900;
		margin: 0 0 1em;
	}

	p {
		margin: 0 0 1em;
	}
}

[nomad-transition="fade"] {
	opacity: 0;
	transition: opacity 2s ease-in-out;

	&.visible {
		// opacity: 1;
	}
}