@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700&display=swap');
$font: 'IBM Plex Sans', sans-serif;

._ui-element {
	font-family: $font;
}

._ui-tab {
	font-size: 12px;
	color: var(--senary-color);
	font-weight: 700;
}

._ui-item {
	font-size: 12px;
	color: var(--quaternary-color);
	font-weight: 400;
}

