$fil__border-radius: 5px;

$fil__background-color: rgba(0,0,0,0.3);

$fil__separation: 3px;

$fil__height: 40px;

.fil__ui {
	position: fixed;
	top: 0;
	right: 0;
	width: 300px;
}

.fil__ui-tab {
	margin-bottom: $fil__separation;
}

.fil__ui-element {
	&:not(:last-child) {
		margin-bottom: $fil__separation;
	}
}

.fil__ui-group {
	padding: $fil__separation;
	position: relative;
	width: 100%;
	height: auto;
	border-radius: $fil__border-radius;
	background-color: $fil__background-color;
}

.fil__ui-title {
	position: relative;
	width: 100%;
	height: $fil__height;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 $fil__separation;
	border: 1px solid white;
}

.fil__ui-item {
	position: relative;
	width: 100%;
	height: $fil__height;

	display: flex;
	justify-content: space-between;
	align-items: center;

	border: 1px solid greenyellow;
}