
._ui-button {

	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--button-padding);
	background-color: var(--section-bg-1);
	border-radius: var(--radius-0);
	cursor: pointer;

	transition: var(--duration) var(--timing);
	margin-top: var(--animation-space);

	&:active {
		background-color: var(--accent);
		color: var(--white);
		transition: 0s;
	}

	h3 {
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

._ui-button-has-icon {
	justify-content: space-between;

	._ui-button-icon {
		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			width: 20px;
		}
	}

}