._ui-btn {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--padding);
	background-color: var(--section-bg-1);
	border-radius: var(--input-radius);
	cursor: pointer;

	transition: var(--duration) var(--timing);

	&:active {
		background-color: var(--accent-color);
		transform: translate3d(0, 3px, 0);
		color: var(--color-white);
		transition: 0s;
	}
}
