._ui-button._ui-item {
	padding: 0.2rem 0.7rem;
	justify-content: center;

	transition: var(--duration) var(--timing);
	margin-top: var(--animation-space);

	user-select: none;

	&._ui--active {
		background-color: var(--accent-color);
		color: var(--white);
		transition: 0s;
	}

	h3 {
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

._ui-button-has-icon._ui-item {
	justify-content: space-between;

	._ui-button-icon {
		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			width: 20px;
		}
	}
}