fieldset {

	// This needs to be using margin instead of padding for the Panels sizes
	width: calc(100% - 0.5rem);
	margin: var(--spacer) 0.25rem 0 0.25rem;
	padding: 0;

	position: relative;

	border: none;

	display: flex;
	justify-content: space-between;
	align-items: center;

	h4 {
		width: 33.33%;
		max-width: 200px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		padding-right: 5px;
		flex-grow: 0;
		flex-shrink: 0;
		user-select: none;
	}

	._ui-item-content {
		width: 66.66%;
		display: flex;
		justify-content: flex-end;
		flex-grow: 1;
		flex-shrink: 0;
		position: relative;
		float: left;
	}

	&._ui-row-vertical {
		flex-direction: column;
		align-items: flex-start;

		&>h4 {
			padding: 0.5rem 0;
		}

		&>div {
			width: 100%;
		}
	}
}