._ui-panel {
	z-index: var(--ui-panels-index);
	position: absolute;
	height: auto;
	background-color: var(--section-bg-1);
	border: 1px solid var(--section-bg-0);
	color: var(--color-1);
	// margin-top:var(--spacer);
	overflow: hidden;

	width: 100%;
	top: 100%;

	opacity: 0;

	&._ui--loaded {
		transition-property: opacity;
		transition-duration: var(--duration);
		transition-timing-function: var(--timing);
	}

	&._ui--active {
		opacity: 1;
	}

	&._ui-panel-dropdown {
		height: auto;
		max-height: 300px;
		overflow-y: scroll;
		border-radius: var(--radius-0);
	}

	&._ui-panel-left,
	&._ui-panel-right {
		width: 300px;
		border-radius: var(--radius-1);
		height: auto;
		max-height: calc(100vh - 10px);
		overflow-y: scroll;
	}
}

