._ui-panel {
	position: fixed;
	height: auto;
	background-color: var(--section-bg-1);
	color: var(--color-1);
	z-index: 2;
	border-radius: var(--radius-0);

	&._ui-panel-dropdown {
		transform: translateY(var(--spacer));
		max-height: 300px;
		overflow-y: auto;
	}

	&._ui-panel-floating {
		opacity: 0;

		&._ui-panel-left {
			transform: translate3d(calc(-50% + 10px), -50%, 0);
		}

		&._ui-panel-right {
			transform: translate3d(calc(-50% - 10px), -50%, 0);
		}

		&._ui--loaded {
			transition-property: opacity, transform;
			transition-duration: var(--duration);
			transition-timing-function: var(--timing);
		}

		&._ui--active {
			opacity: 1;
			transform: translate3d(-50%, -50%, 0);
		}
	}
}

._ui-panel-select {

	p {
		padding: var(--padding-0);
		text-align: left;
		background-color: var(--section-bg-1);
		border-radius: var(--radius-0);
		cursor: pointer;

		&:hover {
			background-color: var(--accent);
			color: var(--white);
		}
	}

}