section {
	--section-bg-0: var(--bg-1);
	--section-bg-1: var(--bg-0);

	&[ui-depth="0"],
	&[ui-depth="2"],
	&[ui-depth="4"],
	&[ui-depth="6"],
	&[ui-depth="8"],
	&[ui-depth="10"] {
		--section-bg-0: var(--bg-0);
		--section-bg-1: var(--bg-1);
	}

	// It's just like a flag to tell the user is going too deep for it to make anys fucking sense
	[ui-depth="12"]{
		--section-bg-0: red;
		--section-bg-1: green;
	}

	position: relative;
	width: 100%;
	height: auto;

	border-radius: var(--radius-1);

	background-color: var(--section-bg-0);

	&:not([ui-depth="0"]) {
		margin-top: var(--spacer);
	}

	._ui-section-content {
		padding: 0 var(--spacer) var(--spacer) var(--spacer);
		position: relative;
		float: left;
		width: 100%;

		fieldset:first-of-type{
			margin-top: 8px;
		}
		fieldset:last-child {
			margin-bottom: 8px;
		}
	}
}
