---
layout: base
pageTemplate: lifecycle
pagination:
  alias: lc
  data: lifeCyclePages
  size: 1
permalink: "/{{ lc.slug | slug }}/"
eleventyComputed:
  title: "{{ lc.title }}"
  description: "{{ lc.description }}"
  image: "{{ lc.image }}"
---


{{ lc | dump }}