---
layout: scroller-base
templateClass: scroller
eleventyComputed:
  title: "Scroller"
---

<section fil-scroller-section style="--section-height: .5;"></section>
<section fil-scroller-section style="--section-height: 1.5;">
  <a href="https://www.google.com/" target="_blank" fil-scroller-pointer>SCROLL TEST WITH POINTER EVENTS</a>
</section>
<section fil-scroller-section style="--section-height: 0.9;"></section>
<section fil-scroller-section style="--section-height: 1.5;"></section>
<section fil-scroller-section style="--section-height: 3;"></section>
<section fil-scroller-section style="--section-height: .5;"></section>
<section fil-scroller-section style="--section-height: 1.5;"></section>
<section fil-scroller-section style="--section-height: 0.9;"></section>
<section fil-scroller-section style="--section-height: 1.5;"></section>
<section fil-scroller-section style="--section-height: 4;"></section>
<section fil-scroller-section style="--section-height: 1.5;"></section>
<section fil-scroller-section style="--section-height: .5;"></section>
<section fil-scroller-section style="--section-height: 1.5;"></section>
<section fil-scroller-section style="--section-height: 1.5;"></section>
<section fil-scroller-section style="--section-height: 0.9;"></section>

