
body {
	background: #554343;
}

:root {
	--accent-color: #2871C7;
	--primary-color: rgba(255, 255, 255, .07);
	--secondary-color: rgba(255, 255, 255, .1);
	--tertiary-color: rgba(255, 255, 255, .2);
	--quaternary-color: rgba(255, 255, 255, .4);
	--quinary-color: rgba(255, 255, 255, .6);
	--senary-color: rgba(255, 255, 255, .8);
	--septenary-color: rgba(255, 255, 255, 1);
}

