._ui-section-foldable {
	transition-duration: var(--duration);
	transition-timing-function: var(--timing);
	overflow: hidden;

	> header {
		cursor: pointer;
	}
	._ui-section-foldable-element {
		overflow: hidden;
		transition-duration: inherit;
		transition-timing-function: inherit;
		transition-property: height;
	}

	._ui-section-header-icon {
		transition: transform var(--duration) var(--timing);
	}

	._ui-section-foldable-element {
		._ui-section-header-icon {
			transform: rotate(0deg);
			width: 20px;
			transform-origin: 50%;
		}
	}

	&._ui-section-folded {
		> ._ui-section-foldable-element {
			height: 0px !important;
		}
	}

	&._ui-section-folded {
		> header ._ui-section-header-chevron {
			transform: rotate(-90deg);
		}
	}
}