._ui-foldable {
	transition-duration: var(--duration);
	transition-timing-function: var(--timing);
	overflow: hidden;

	> header {
		cursor: pointer;
	}
	._ui-foldable-el {
		overflow: hidden;
		transition-duration: inherit;
		transition-timing-function: inherit;
		transition-property: height;
	}

	._ui-foldable-el {
		._ui-icon {
			transform: rotate(0deg);
			width: 20px;
			transform-origin: 50%;
			transition: transform var(--duration) var(--timing);
		}
	}

	&._ui-folded {
		> ._ui-foldable-el {
			height: 0px !important;
		}
	}

	&._ui-folded:not([ui-depth="0"]) {
		> header ._ui-icon {
			transform: rotate(-90deg);
		}
	}
}