._ui-foldable {
	transition-duration: var(--duration);
	transition-timing-function: var(--timing-function);

	> header {
		cursor: pointer;
	}
	._ui-foldable-el {
		overflow: hidden;
		transition-duration: inherit;
		transition-timing-function: inherit;
		transition-property: height;
	}
}