$font: 'IBM Plex Sans', sans-serif;

._ui-wrapper,
._ui-panel {
	font-family: $font;
	font-size: 12px;
	color: var(--color-1);
	font-weight: 400;

	header {
		font-weight: 700;
	}

	[ui-depth="0"] > header {
		color: var(--color-0);
	}

	fieldset {

		h4 {
			color: var(--color-2);
		}
	}
}

