$font: 'IBM Plex Sans', sans-serif;

* {
	font-family: $font;
}

header {
	font-size: 12px;
	color: var(--color-1);
	font-weight: 700;
}

[ui-depth="0"] > header {
	color: var(--color-0);
}

fieldset,
._ui-input-panel {
	font-size: 12px;
	color: var(--color-1);
	font-weight: 400;

	h4 {
		color: var(--color-2);
	}
}

