$font: 'IBM Plex Sans', sans-serif;

* {
	font-family: $font;
}

header {
	font-size: 12px;
	color: var(--senary-color);
	font-weight: 700;
}

div {
	font-size: 12px;
	color: var(--quaternary-color);
	font-weight: 400;
}

