
section {
	background-color: var(--bg-1);
	position: relative;
	width: 100%;
	height: auto;
}

header {
	background-color: var(--bg-0);

	position: relative;
	width: 100%;
	height: $fil__height;

	display: flex;
	justify-content: flex-start;
	align-items: center;

}

fieldset {
	padding: 8px 10px;
	position: relative;
	width: 100%;
	height: $fil__height;

	border: none;

	display: flex;
	justify-content: space-between;
	align-items: center;
}