
& {


	// $fil__border-radius: 8px;

	// $fil__separation: 2px;

	// $fil__height: 40px;
	--height: 40px;

	// Transitions
	--duration: 0.2s;
	--timing-function: linear;


	// Colors
	--accent-color: #2871C7;
	--bg-0: #303030;
	--bg-1: #191919;
	--color-0: #CCCCCC;
	--color-1: #999999;
	--color-2: #666666;
}

