.color-view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 440px;
}

.color-view canvas {
    position: relative;
}

body {
    background-color: #111;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bold;
}

.bar-handle {
    background-color: white;
    width: 6px;
    height: 30px;
    border-radius: 3px;
    position: absolute;
    top: 100%;
    left: 200px;
    transform: translate(-50%, -100%);
    pointer-events: none;
}

.c-target {
    background-color: rgba(0, 0, 0, .25);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    top: 200px;
    left: 200px;
    transform: translate(-50%, -50%);
    border: 2px white solid;
    pointer-events: none;
}

.color-info {
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(220px, -220px);
}