<!DOCTYPE html>
<html lang="en">

  {% include "head.njk" %}

  <body template="{{ templateClass }}">

    {% block content %}
      {{ content | safe }}
    {% endblock %}

    <script src="{{ '/' | url }}default/js/main.js"></script>
  </body>

</html>
