<!DOCTYPE html>
<html lang="{{ locale }}">

  {% include "head.njk" %}

  <body class="nomad-base">

    <link rel="stylesheet" href="{{ '/' | url }}default/css/main.css"/>
    <link rel="stylesheet" href="{{ '/' | url }}{{ templateClass }}/css/main.css"/>

		<div class="nomad-menu">
			{% for page in nomadPages %}
				<a href="/{{ lang + '/' + page.slug | url }}">{{ page.title }}</a>
			{% endfor %}
		</div>

    <div nomad-wrapper>
      {% block content %}
        <div template="{{ templateClass }}">
          {{ content | safe }}
        </div>
      {% endblock %}
    </div>


    <script src="{{ '/' | url }}default/js/main.js"></script>
    <script src="{{ '/' | url }}{{ templateClass }}/js/main.js"></script>
  </body>

</html>
