<!DOCTYPE html>
<html lang="{{ locale }}">

  

  {% include "head.njk" %}

  <body class="nomad-base">

		<div class="nomad-menu">
			{% for page in nomadPages %}
				<a href="/{{ lang + '/' + page.slug | url }}">{{ page.title }}</a>
			{% endfor %}
		</div>

    <div id="nomad__wrapper">
      {% block content %}
        <div data-template="{{ templateClass }}">
          {{ content | safe }}
        </div>
      {% endblock %}
    </div>
  
    <script src="{{ '/' | url }}js/main.js"></script>
  </body>

</html>
