._ui-item-boolean {
	width: $fil__height * 1.5;
	height: $fil__height * .70;
	border-radius: $fil__height;
	display: flex;
	justify-content: flex-start;

	div {
		width: $fil__height * .70;
		height: $fil__height * .70;
		border-radius: 50%;
		// background-color: $fil__color--tool;
		transition: all .2s ease-in-out;
	}
}

.active {
	.ui__item-boolean {
		// background-color: $fil__color--active;
		justify-content: flex-end;

		div {
			// background-color: $fil__color--tool;
		}
	}
}