._ui-toggle {
	width: 100px;
	height: 80%;
	border-radius: var(--height);

	background-color: var(--bg-1);

	div{
		width: var(--height);
		height: 60%;
		border-radius: 50%;
		// background-color: $fil__color--tool;
		transition: all .2s ease-in-out;
	}
}

// .active {
// 	._ui-boolean-item {
// 		// background-color: $fil__color--active;
// 		justify-content: flex-end;

// 		div {
// 			// background-color: $fil__color--tool;
// 		}
// 	}
// }