
._ui-boolean {
	cursor: pointer;

	._ui-toggle {
		width: 40px;
		height: 25px;
		border-radius: 15px;

		background-color: var(--section-bg-1);
		position: relative;
		float: left;
		transition: var(--duration) var(--timing);

		display: flex;
		justify-content: center;
		align-items: center;


		div{
			width: 25px;
			height: 25px;
			border-radius: 100%;
			background-color: var(--white);
			transform: translate3d(-8px, 0, 0);

			transition: inherit;
		}
	}

	&._ui--active {
		._ui-toggle {
			background-color: var(--accent-color);

			div {
				transform: translate3d(8px, 0, 0);
			}
		}
	}
}