._ui-number {

	._ui-number-input {
		flex-grow: 1;
		position: relative;
		float: left;

		&:not(:last-of-type){
			margin: 0 var(--line-separator) 0 0;
		}
	}

	input {
		width: 100%;
		padding: var(--input-padding);
		text-align: left;
		background-color: var(--section-bg-1);
		border-radius: var(--input-radius);
	}

	._ui-number-btns {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: auto;
		display: flex;
		flex-direction: column;
		align-items: center;

		button {
			padding: 0;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			height: 50%;
			width: 20px;
			cursor: pointer;

			&:active {
				color: var(--color-white);
				transition: 0s;
			}
		}

		svg {
			width: 20px;
		}

		._ui-btn-increase {

			svg {
				transform: rotate(180deg);
				transform-origin: center;
			}

		}
	}

}