._ui-range {

	._ui-range-input {
		position: relative;
		float: left;
		width: calc(75% - 12px);
		cursor: pointer;
		margin: 0 12px 0 0;

		* {
			pointer-events: none;
		}
	}

	._ui-range-track {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 2px;
		background-color: var(--color-0);
		width: 100%;
	}

	._ui-range-overexpose {
		@extend ._ui-range-track;

		background-color: var(--color-2);
		transform: translate(0, -50%);
		left: unset;
		width: calc(var(--size) * 100%);

		&._ui-range-overexpose-min {
			left: 0;
		}

		&._ui-range-overexpose-max {
			right: 0;
		}
	}

	._ui-range-thumb {
		position: absolute;
		top: 50%;
		left: calc(var(--value) * 100%);
		transform: translate(-50%, -50%);
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: var(--white);
		cursor: grab;
		pointer-events: all;

		transition: background-color var(--duration) var(--timing);

		&._ui--grab {
			background-color: rgba(var(--white), .2)
		}

		&::after,
		&::before {
			content: "";
			position: absolute;
			height: 8px;
			width: 2px;
			background-color: var(--white);
			left: 50%;
			transform: translate(-50%, 0);
		}

		&::after {
			top: 0;
		}

		&::before {
			bottom: 0;
		}
	}

	input {
		@include item;
		width: calc(25% - var(--spacer));
	}
}