._ui-select {
	position: relative;
	float: left;

	._ui-item._ui-select-input {

		* {
			pointer-events: none;
		}

		svg {
			width: 20px;
			position: absolute;
			right: 11px;
			top: 50%;
			transition: all var(--duration) var(--timing);
			transform: translateY(-50%) rotate(0deg);
		}
	}

	&._ui-select-open {
		._ui-select-input svg {
			color: var(--white);
			transform: translateY(-50%) rotate(90deg);
		}
	}
}

._ui-panel._ui-panel-select {
	height: auto;
	max-height: 300px;
	overflow-y: scroll;

	._ui-panel-select-button,
	._ui-panel-select-search,
	._ui-panel-select-option,
	._ui-panel-select-option-none {
		padding: 0.6rem;
		background-color: var(--section-bg-1);
		cursor: pointer;
	}

	._ui-panel-select-search {
		position: sticky;
		top: 0;
		border-bottom: 2px solid var(--section-bg-0);
	}

	._ui-panel-select-option {
		text-align: left;
		border-radius: var(--radius-0);

		&:hover {
			background-color: var(--accent-color);

			p {
				color: var(--white);
			}
		}
	}
}