._ui-texture {
	position: relative;
	float: left;

	._ui-texture-input {
		width: 100%;
		min-height: var(--item-min-height);
		padding: var(--padding-0);
		text-align: left;
		background-color: var(--section-bg-1);
		border-radius: var(--radius-0);
		display: flex;
		align-items: center;

		cursor: pointer;

		* {
			pointer-events: none;
		}

		svg {
			width: 20px;
			position: absolute;
			right: 11px;
			top: 50%;
			transition: all var(--duration) var(--timing);
			transform: translateY(-50%) rotate(0deg);
		}
	}

	&._ui-texture-open {
		._ui-texture-input svg {
			color: var(--white);
			transform: translateY(-50%) rotate(90deg);
		}
	}

}