._ui-select {
	position: relative;
	float: left;

	._ui-select-input {
		width: 100%;
		padding: var(--input-padding);
		text-align: left;
		background-color: var(--section-bg-1);
		border-radius: var(--input-radius);

		cursor: pointer;

		* {
			pointer-events: none;
		}

		svg {
			width: 9px;
			position: absolute;
			right: 11px;
			top: 50%;
			transition: all var(--duration) var(--timing);
			transform: translateY(-50%) rotate(180deg);
		}
	}

	&._ui-select-open {
		._ui-select-input svg {
			color: var(--color-white);
			transform: translateY(-50%) rotate(270deg);
		}
	}

}

._ui-select-options {

	p {
		padding: var(--input-padding);
		text-align: left;
		background-color: var(--section-bg-1);
		border-radius: var(--input-radius);
		cursor: pointer;

		&:hover {
			background-color: var(--accent-color);
			color: var(--color-white);
		}
	}

}