._ui-slider {

	._ui-slider-input {
		position: relative;
		float: left;
		width: calc(100% - 45px - 12px);
		cursor: pointer;
		margin: 0 12px 0 0;

		* {
			pointer-events: none;
		}
	}

	._ui-slider-track {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 2px;
		background-color: var(--color-0);
		width: 100%;
	}

	._ui-slider-overexpose {
		@extend ._ui-slider-track;

		background-color: var(--color-2);
		transform: translate(0, -50%);
		left: unset;
		width: calc(var(--size) * 100%);

		&._ui-slider-overexpose-min {
			left: 0;
		}

		&._ui-slider-overexpose-max {
			right: 0;
		}
	}

	._ui-slider-thumb {
		position: absolute;
		top: 50%;
		left: calc(var(--value) * 100%);
		transform: translate(-50%, -50%);
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: var(--color-white);
		cursor: grab;
		pointer-events: all;

		transition: background-color var(--duration) var(--timing);

		&._ui-grabbing {
			background-color: rgba(var(--color-white), .2)
		}

		&::after,
		&::before {
			content: "";
			position: absolute;
			height: 8px;
			width: 2px;
			background-color: var(--color-white);
			left: 50%;
			transform: translate(-50%, 0);
		}

		&::after {
			top: 0;
		}

		&::before {
			bottom: 0;
		}
	}

	input {
		width: 45px;
		padding: var(--input-padding);
		text-align: left;
		background-color: var(--section-bg-1);
		border-radius: var(--input-radius);
	}
}