[template="scroller"] [fil-scroller] {
	h1,
	h2,
	h3 {
		font-weight: 900;
	}

	p {
		font-weight: 300;
	}

	h1 {
		font-size: 10vw;
	}

	h2 {
		font-size: 8vw;
	}

	h3 {
		font-size: 6vw;
	}

	p {
		font-size: max(30px, 2vw);
	}

	section {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		float: left;

		text-align: center;
		padding: 3vw;
	}

	.section-0 {

		opacity: 0;

		&.fil-scroller__visible {
			opacity: 1;
			transition: opacity 0.5s 0.5s ease-in-out;
		}

	}

	.section-1 {
		a {
			border: 1px solid black;
			padding: 3vw;
			transition: all 0.4s ease-in-out;

			&:hover {
				background-color: black;
				color: white;
			}
		}
	}

	.section-2-2 {
		height: 200vh;
		// border: 1px solid green;
		display: inline-block;

		div {
			height: auto;
			// position: sticky;
			top: 0;
		}
	}

	.section-3 {

		h2,
		p {
			transform: rotateZ(calc(-1 * var(--fil-scroller-delta) * 20deg));
			will-change: transform;
		}
	}
}

._ui-wrapper,
._ui-wrapper * {
	pointer-events: all;
}

html {
	min-height: 100vh;
	min-height: 100dvh;
	width: 100vw;
	width: 100dvw;
	// overflow: hidden;
}

/* 
 * Virtual Scroll Bar customisation
 */

[fil-virtual-scroller] {
	div {
		background-color: aquamarine;
		opacity: .5;
	}	
}